@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

label {
  @apply block text-base font-medium text-gray-700;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  @apply flex-1 block w-full;
}

input.ng-invalid.ng-touched:not(:focus),
select.ng-invalid.ng-touched:not(:focus),
textarea.ng-invalid.ng-touched:not(:focus) {
  @apply border-red-500;
}

[ng-reflect-required-checkbox-group].ng-invalid.ng-touched input {
  @apply border-red-500;
}

h1 {
  @apply text-6xl font-normal leading-normal mt-0 mb-2;
}

h2 {
  @apply text-5xl font-normal leading-normal mt-0 mb-2;
}

h3 {
  @apply text-4xl font-normal leading-normal mt-0 mb-2;
}

h4 {
  @apply text-3xl font-normal leading-normal mt-0 mb-2;
}

h5 {
  @apply text-2xl font-normal leading-normal mt-0 mb-2;
}

h6 {
  @apply text-xl font-normal leading-normal mt-0 mb-2;
}

.checkbox-container,
.radio-container {
  @apply flex items-center;
}

.checkbox-container > input,
.radio-container > input {
  @apply h-4 w-4;
}

.checkbox-container > label,
.radio-container > label {
  @apply ml-3 text-gray-700;
}

.help {
  @apply mt-1 block text-sm text-gray-600;
}

.help.error {
  @apply text-red-600;
}

.help.info {
  @apply text-blue-600;
}

pre {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

fieldset {
  @apply p-4 mb-12 border-2 border-gray-300;
}

legend {
  @apply p-2;
}
